<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>INDEX</title>
</head>
<body>
    <main>
        <section class="hero">
            <h1>Knowledge World</h1>
            <div class="btn-group">
                <a class="btn-primary" href="/login"> Login</a>
                <a class="btn-primary" href="/signup"> Signup</a>
            </div>
        </section>    
    </main>
    <script src ='/js/main.js'></script>
</body>
</html>